:root {
    --b1:rgb(255 255 255);
    --bt: rgb(255 255 255 / 77%);
    --bf: rgb(0 0 0 / 0);
    --c1:#123456;
    --b2:black;
    --c2:#123456;
    --bc: rgb(18 52 86 / 7%);
    --aaa: linear-gradient(333deg, var(--a), var(--aa));
    --a: #0353fd;
    --aa: #011b78;
    --aat: rgb(0 66 189 / 22%);
    --b-t: rgb(255 255 255 / 77%);
    --bor: rgb(63 63 63 / 30%);
    --bc: rgb(18 52 86 / 7%);
}

html {
    color: var(--c1);
    font-family: system-ui,'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: var(--b1);
}

html body,aliens,apps,.app {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

menubar {
    background-color: rgb(255 254 254);
    height: 66px;
    position: fixed;
    backdrop-filter: blur(0px);
    z-index: 999999;
    box-shadow: unset;
    bottom: 0;
    left: 0;
    right: 0;
}

mg {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
    grid-gap: 11px;
    margin: 0 11px;
}

mg i {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    position: relative;

}

mg .a bt {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 16px;
    opacity: 1;
    background: transparent;
    font-size: 7px;
    letter-spacing: 0px;
}

mg .a {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

mg .a:active {
    border-bottom: 3px solid black;
}

mg .a svg {
    fill: var(--c1);
    height: 27px;
    width: 27px;
}

i > svg, svg {
    margin: auto;
    height: 50px;
}

mg .a i {
    margin-bottom: 11px;
}

svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
    fill: var(--c1);
}

bt {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}



/* page navigation css */

screen {
    display: none;
    /* padding: 20px; */
    font-size: 18px;
   
  }

@media screen and (min-width:1020px) {
    screen {
        overflow: auto;
    }
    
}

html::-webkit-scrollbar {
    display: none;
}

  screen.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  

   
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
 

d {
    display: block;
    position: relative;
}


hm nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 68px;
    transition: 3s;
    /* background-color: black; */
    position: sticky;
    top: 0;
    z-index: 5;

}

hm nav bg {
    background: linear-gradient(180deg,var(--b1),var(--bt),var(--bf));
    backdrop-filter: blur(44px);
}

hm nav n {
    display: grid;
    grid-template-columns: 99px auto 144px;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 3;
}

hm nav left {
    display: grid;
    grid-template-columns: 50px 35px 0px;
    width: 100%;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67%;
    width: 100%;

}

n logo {
    display: flex ;
    position: relative;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}

n logo img {
    max-width: 100%;
    max-height: 100%;
}


nav left srtb {
    display: flex;
    justify-content: center;
    align-items: center;
}


hm nav n centerr srch {
    background: var(--bc);
    height: 100%;
    display: flex;
    width: auto;
    border-radius: 7px;
    left: -26px;
    position: absolute;
    left: -52px;
    right: -44px;
}

hm nav srch input {
    height: 100%;
    width: 76%;
    border: none;
    font-size: 1.111rem;
    font-weight: bold;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 71px;
}

hm nav n centerr {
    position: relative;
    display: block;
    height: 44px;
    width: 100%;
}

input {
    outline: none;
}


hm nav n right plus {
    height: 88%;
    width: 88%;
}

hm nav n right {
    display: grid;
    grid-template-columns: 0 0 44px 44px 0 55px;
}

hm nav n>right>* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
} 

hm nav n right>*>i {
    height: 55%;
    width: 55%;
}

hm nav n right pf {
    height: 44px;
    width: 44px;
}

hm nav n right pf img {
    height: 88%;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

nav right aa:last-child {
    width: 44px;
    box-shadow: inset 0 0 0 2px var(--bc);
    border-radius: 50%;
} 

d {
    display: block;
}


statuses {
    width: 100%;
    display: flex;
    overflow-y: auto;
    margin: 11px 0;
    position: relative;
}

@media screen and (min-width:1020px) {
    statuses {
        left: -66px;
    }
    
}

statuses::-webkit-scrollbar {
    display: none;
}

status:nth-child(1) {
    margin-left: 11px;
}

statuses status {
    display: block;
    height: 80px;
    width: 73px;
    min-width: 73px;
    min-height: 80px;
    position: relative;
    
}

statuses status hd > i  {
    height: 40%;
}

statuses status>bd {
    display: block;
    width: 90%;
    margin: auto;
    font-size: 0.66rem;
    text-align: center;
    margin-top: 4px;
    margin-right: 9px;
}

statuses status>hd {
    background: var(--aaa);
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 6px;
}

statuses status > hd svg {
    fill:var(--b1)
}

statuses status > hd > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--b1);
}

img {
    max-height: 100%;
    max-width: 100%;
}

ccdo bl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

ccdo cscs {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 200px;
    background-color: var(--bor);
    border-radius: 10px;
    text-align: center;
    color: var(--b1);
    align-items: center;
    overflow: hidden;
}

cscs p {
    position: absolute;
    font-size: 12px;
    left: 12px;
}

cscs bd {
    color: var(--b1);
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    margin-top: -14px;
    background-color: var(--a);
    border-radius: 50%;
}

bl hd {
    display: block;
}

cscs hd {
    width: 100%;
    height: 70%;
    background-color: var(--b-t);
}

ccdo bl bd svg {
    fill: var(--b1);
}

ccdo bl bd {
    display: flex;
    gap: 10px;
    /* overflow:scroll; */
}

ccdo bl {
    height: 100%;
    
}
/* @media */

ccdo bl {
    width: auto;
}

@media screen and (min-width:1020px) {
    ccdss {
        width: 65%;
        display: block;
    }
    
}



ccds bl hd {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 15px;
    background: var(--a);
    padding: 2px;
}

ccdo bl ccds {
    border-radius: 10px;
    position: relative;
    width: 110px;
    height: 200px;
    background-color: var(--bor);
    overflow: hidden;
    flex-shrink: 0;
}

ccds bl hd img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

ccds bd {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 11px;
}


ccdo ccds img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

ccdo ccds ft p {
    color: var(--b1);
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 6px;
}



ccdds bl {
    display: flex;
    padding: 22px;
    align-items: center;
    background-color: var(--b1);
    border-radius: 22px;
    
    margin: 11px;
}
@media screen  and (min-width:1020px){
    ccdds {
        display: block;
        width: 65%;
      
    }

    ccdds bl {
        margin-left: 0;
    }
    
}

.reload-icon {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bc);
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

ccdds .reload-icon::before {
    content: "↻";
    font-size: 36px;
    color: var(--a);
    
}

ccdds .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

ccdds .subtile {
    font-size: 14px;
    opacity: 0.5;
}

cpsto {
    display: block;
    position: relative;
    max-width: 1100px;
    margin-bottom :7px;
    background: var(--bt);
    border-radius: 10px;
}

@media screen and (min-width:1020px) {
    cpsto {
        width: 100%;

    }
    
}
/* 
screen:last-child {
    display: block;
    overflow: hidden scroll;

} */

cpsto > bl pf {
    display: grid;
    grid-template-columns: 50px auto 50px;
    align-items: center;
}

cpsto > bl desc p {
    font-size: 0.77em;
}

cpsto > bl > hd p {
    margin: 7px 0;
}



cpsto > bl pf  i {
    /* height: 44px;
    width: 44px; */
    border-radius: 55%;
}  

cpsto cpsts {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

cpsto > bl > hd {
    display: block;
    padding: 11px 15px;
}

name {
    font-weight: 600;
    display: block;
}

cpsto pf name>btn {
    display: inline list-item;
    color: var(--a);
    margin-left: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 95ms;
}

cpsto pf time {
    display: flex;
    align-items: center;
    font-size: 0.77em;
    font-weight: 500;
    opacity: 0.7;
}

cpsto pf spain {
    display: list-item;
    margin-left: 22px;
    height: 11px;
    width: 11px;
}

cpsto pf btn {
    display: block;
    height: 33px;
    width: 33px;
    justify-self: end;
    padding: 7px;
    border-radius: 55%;
    place-content: center;
}
cpsto > bl > bd {
    display: block;
    border-top: 1px solid #e8e0e0;
    border-bottom: 1px solid #e8e0e0;
    max-height: 66vh;
    min-height: 66vh;
    border-left: 0px;
    border-right: 0px;
    overflow: hidden;
}

cpsto bl ft {
    display: block;
    height: 150px;
}

cpsto > bl act {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
    font-weight: 400;
    padding: 6px 15px;
}

cpsto bl ft act svg {
    height: 20px;
}

cpsto bl ft d {
    display: flex;
    align-items: center;
}

cpsto bl ft act i {
    height: 22px;
    width: 22px;
}


cpsto > bl > ft > btns {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    border-top: 1px solid var(--bc);
    padding-top: 20px;
    margin: 7px 0px 0px;
}




cpsto btns btn  i  {
    height: 20px;
    width:20px;
    margin-right: 10px;

} 

cpsto btns btn {
    display: flex;
    justify-content: center;
    font-size: 0.88em;
    font-weight: 500;

}


smenu1 grid {
    display: grid;
    grid-template-columns: 60px auto;
    min-height: 30px; 
    padding: 10px;
}

smenu1 grid h6 {
    display: flex;
    align-items: center;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6,h7,h8,h9 {
    margin: 0;
} 

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--c1);
}

fto  {
    font-size: 14px;
    display: flex;

    
}

@media screen and (min-width:1020px) {


    home hm>d {
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: auto 1fr 1fr;
        height: 100vh;
    }

    home hm >d nav {
        
        grid-column: 1 / 3; 
        grid-row: 1 / 2;
    }

    home hm>d smenu {
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
    }

    home hm>d hero {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    home hm>d areaa {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}


@media screen and (max-width:900px){
    smenu {
        display: none;
    }
}
